.score-page{
    background-image: url(../img/play-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif, cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreList{
    max-height: 650px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 0, 29);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 .5rem 2rem 0 rgba(235, 123, 86, 1);
    border: 1rem solid white;
}

#finalScore{
    font-size: 2.5rem;
}

.btn-score{
    font-size: 1.4rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: .65rem solid lime;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: lime;
    box-shadow: 0 .5rem 1.4rem 0 rgba(86, 235, 111, 0.5);
    text-transform: uppercase;
    position: relative;
    bottom: -75px;
    animation: pulse 1.3s infinite;
}

#highScoresList{
    list-style-type: none;
    padding-left: 0;
}

.high-score{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid white;
}